# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration (Neon PostgreSQL)
DATABASE_URL=postgresql://neondb_owner:npg_hNxrd0YfR7ED@ep-sweet-forest-am57r0ud-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DB_HOST=ep-sweet-forest-am57r0ud-pooler.c-5.us-east-1.aws.neon.tech
DB_PORT=5432
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=npg_hNxrd0YfR7ED
PGSSLMODE=require




# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production-12345
JWT_EXPIRE=7d

# CORS Configuration
CORS_ORIGIN=*
